<style>

</style>

<div class="container-fluid" style="background-color:whitesmoke;height:6em;border-bottom:gray thin ridge;">
    <div class="container">
        <div class="row">
            <!--<div class="col-md-8" style="margin-top:1em;">
                <button role="button" ng-hide='loggedIn' ui-sref="signup" class="btn btn-default">Sign Up</button>
                <button role="button" ng-hide='loggedIn' ui-sref="login" class="btn btn-default">Login</button>
                <button role="button" ng-show='loggedIn' ui-sref="dashboard" class="btn btn-default">Dashboard</button>
            </div>-->
            <div class="col-md-4 navbar-brand col-md-offset-1">
                <div class="row">
                    <img width="50" src="src/app/assets/img/mc.png">
                    <a class="semi-bold" style="height:100%" href="#">HINTCHIRPS</a>
                </div>
            </div>
            <ul class="col-md-6 col-md-offset-1 nav navbar-nav navbar navbar-right navbar-justified"
                style="line-height:2em;">
                <li><a href="#">MINECRAFT</a></li>
                <li><a href="#">CLASH OF CLANS</a></li>
                <li><a href="#">BOARD</a></li>
                <li><a href="#" ng-hide='loggedIn' ui-sref="login"><span style="border: slategray 1px solid; padding:0 1em;">SIGN IN</span></a></li>
            </ul>
        </div>
    </div>
</div>
<section class="intro">
    <div class="grassBG" style="padding:0;"></div>
    <div class="container text-center">
        <h1 class="semi-bold">A Vanilla<span style="font-style: italic;font-weight:400;font-size:.8em;">ish</span>
            Minecraft Server</h1>

        <p style="margin-bottom:1em;">Come be apart of the adventure created by this community.</p>
        <div style="margin-top:3em;">
            <button class="btn btn-lg btn-invert">SERVER INFO</button>
            <button class="btn btn-lg" ui-sref="home.dash">DASHBOARD</button>
        </div>

        <p style="font-size:1em;" class="semi-bold">SERVER ADDRESS</p>

        <p style="font-size:2em;margin-top:-.5em;font-weight:600;">MC.HINTCHIRPS.COM</p>
    </div>
</section>

<section class="announcements">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-2">
                <div>
                    <h4>LATEST ANNOUNCEMENT</h4>
                </div>
                <div id="latest-announcement">
                    <p>New site under development!</p>
                </div>
            </div>
            <div class="col-md-4">
                <h4>SERVER STATUS</h4>

                <div class="semi-bold" style="color:forestgreen;">ONLINE</div>
            </div>
        </div>
    </div>
</section>
<section class="stats container">
    <div class="row">
        <div class="stat-block">
            <div class="stat-title"><i class="glyphicon glyphicon-fire"></i></div>
            <div class="stat-value">PvP Anywhere</div>
        </div>
        <div class="stat-block">
            <div class="stat-title"><i class="glyphicon glyphicon-link"></i></div>
            <div class="stat-value">Dedicated Server</div>
        </div>
        <div class="stat-block">
            <div class="stat-title"><i class="glyphicon glyphicon-eye-open"></i></div>
            <div class="stat-value">High View Distance</div>
        </div>
        <div class="stat-block">
            <div class="stat-title"><i class="glyphicon glyphicon-usd"></i></div>
            <div class="stat-value">No Pay To Win</div>
        </div>
        <div class="stat-block">
            <div class="stat-title"><i class="glyphicon glyphicon-home"></i></div>
            <div class="stat-value">Community Driven</div>
        </div>
    </div>

</section>
<section class="info container">
    <div class="col-md-8 col-md-offset-2 text-center">
        <p>Hintchirps is a Minecraft server focused at giving players an intense, community driven gameplay by sticking
            true to vanilla principles.</p>
    </div>
</section>