<style>
    .row > img {
        border-radius: 100%
    }
</style>
<div class="container-fluid" style="background-color:aliceblue;height:4em;border-bottom:whitesmoke thin ridge;">
    <div class="col-md-8 col-md-offset-2" style="margin-top:1em;">
        <div class="row">
            <div class="col-md-7">
                <button ui-sref="home" class="btn btn-default">Home</button>
                <button ng-click="dash.userAuth.signOut()" ng-show="loggedIn" class="btn btn-default">Signout</button>
            </div>
            <div class="col-md-5">
                <form ng-submit="submit()">
                    <input placeholder="Search" type="search" class="pull-right form-control" ng-model="dash.query">
                </form>
            </div>

        </div>
    </div>
</div>
<div class="container">
    <div class="col-md-8 col-md-offset-2" style="margin-top:1em;">
        <h1 class="centered">Dash</h1>

        <div class="col-md-offset-1">
            <tweet ng-repeat="tweet in tweets">

            </tweet>
        </div>
    </div>
</div>