<div class="container-fluid" style="background-color:aliceblue;height:4em;border-bottom:whitesmoke thin ridge;">
    <div class="col-md-8 col-md-offset-2" style="margin-top:1em;">
        <button role="button" ng-hide='loggedIn' ui-sref="signup" class="btn btn-default">Sign Up</button>
        <button role="button" ng-hide='loggedIn' ui-sref="login" class="btn btn-default">Login</button>
        <button role="button" ng-show='loggedIn' ui-sref="dashboard" class="btn btn-default">Dashboard</button>
    </div>
</div>
<div class="container">
    <div class="col-md-4 col-md-offset-4 centered">
        <h1>Hello World</h1>
    </div>
</div>