<style>
    .btn{width:46% !important;margin:1em 0 !important;}

</style>
<div class="container">
    <div class="col-md-4 centered col-md-offset-4">
        <h3 style="margin-top:-.1em;">Sign In</h3>

        <p>{{login.message}}&nbsp;</p>

        <form name="loginForm" ng-submit="login.submit()" class="login-form">

            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text"
                       class="form-control" id="username" name="username"
                       ng-model="login.username"/>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password"
                       class="form-control" id="password" name="password"
                       ng-model="login.password"/>
            </div>
            <div class="row" style="padding:0 15px;">
                <button type="submit" class="btn btn-primary btn-invert">Login</button>
                <button type="submit" class="btn btn-primary btn pull-right" ui-sref="home.register">Register</button>
            </div>
        </form>
    </div>
</div>