<style>
    .ngInvalid.ng-dirty {
        border-color: #FA787E;
    }

    .ngValid.ng-dirty {
        border-color: #78FA89;
    }

    .intro{
        height:425px;
    }
</style>

<div class="container">
    <div class="col-md-4 centered col-md-offset-4">
        <h4 class="centered">Register</h4>

        <p style="clear:both;margin:1em;" id="ErrorMsgs">{{signup.error}}&nbsp;</p>

        <form ng-submit="signup.submit()">
            <div class="form-group">
                <label>Username:</label>
                <input type="text"
                       class="form-control"
                       id="username"
                       ng-model="signup.username"
                       ng-class="{good: userModel.userExists()}"/>

            </div>
            <div class="form-group">
                <label>Password:</label>
                <input type="password"
                       id="password"
                       class="form-control"
                       ng-model="signup.password"/>
            </div>
            <div class="form-group">
                <label>Confirm Password:</label>
                <input type="password"
                       id="passwordConfirm"
                       class="form-control"
                       ng-model="signup.passwordConfirm"
                       ng-class="{'ngValid': signup.password===signup.passwordConfirm && signup.password.length>5,
                          'ngInvalid': signup.password!==signup.passwordConfirm || signup.password.length<5}"/>
            </div>
            <div class="row" style="padding-right:30px;">
                <button type="submit" class="btn btn-primary btn-invert" style="width:100%;">Register</button>
            </div>
        </form>
    </div>
</div>