<style>

</style>

<div class="container-fluid" style="background-color:whitesmoke;height:6em;border-bottom:gray thin ridge;">
    <div class="container">
        <div class="row">
            <!--<div class="col-md-8" style="margin-top:1em;">
                <button role="button" ng-hide='loggedIn' ui-sref="signup" class="btn btn-default">Sign Up</button>
                <button role="button" ng-hide='loggedIn' ui-sref="login" class="btn btn-default">Login</button>
                <button role="button" ng-show='loggedIn' ui-sref="dashboard" class="btn btn-default">Dashboard</button>
            </div>-->
            <div class="col-md-4 navbar-brand col-md-offset-1 col-xs-9">
                <div class="row">
                    <img width="36" src="src/app/assets/img/mc.png">
                    <a class="semi-bold" style="margin-top:.4em;margin-left:.25em;position:absolute;" href="#">HINTCHIRPS</a>
                </div>
            </div>
            <ul class="col-md-6 col-md-offset-1 nav navbar-nav navbar navbar-right navbar-justified col-xs-3"
                style="line-height:2em;">
                <li class="hidden-sm hidden-xs"><a href="#">MINECRAFT</a></li>
                <li class="hidden-sm hidden-xs"><a href="#">CLASH OF CLANS</a></li>
                <li class="hidden-sm hidden-xs"><a href="#">BOARD</a></li>
                <li><a href="#" ng-hide='loggedIn' ui-sref="login"><span style="border: slategray 1px solid; padding:0 1em;">SIGN IN</span></a></li>
            </ul>
        </div>
    </div>
</div>
<section class="intro">
    <div class="grassBG" style="padding:0;"></div>
    <div ui-view></div>
</section>

<section class="announcements">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-2 col-xs-8">
                <div>
                    <h4>LATEST ANNOUNCEMENT</h4>
                </div>
                <div id="latest-announcement" style="clear:both;">
                    <p>New site under development!</p>
                </div>
            </div>
            <div class="col-md-4 col-xs-4">
                <h4 class="hidden-sm hidden-xs">SERVER STATUS</h4>
                <h4 class="semi-bold visible-sm visible-xs" style="color:forestgreen;">ONLINE</h4>
                <div class="semi-bold hidden-sm hidden-xs" style="color:forestgreen;">ONLINE</div>

            </div>
        </div>
    </div>
</section>
<section class="stats container">
    <div class="row">
        <div class="stat-block">
            <div class="stat-title"><i class="glyphicon glyphicon-fire"></i></div>
            <p class="stat-value">PvP Anywhere</p>
        </div>
        <div class="stat-block">
            <div class="stat-title"><i class="glyphicon glyphicon-link"></i></div>
            <p class="stat-value">Dedicated Server</p>
        </div>
        <div class="stat-block">
            <div class="stat-title"><i class="glyphicon glyphicon-eye-open"></i></div>
            <p class="stat-value">High View Distance</p>
        </div>
        <div class="stat-block">
            <div class="stat-title"><i class="glyphicon glyphicon-usd"></i></div>
            <p class="stat-value">No Pay To Win</p>
        </div>
        <div class="stat-block">
            <div class="stat-title"><i class="glyphicon glyphicon-home"></i></div>
            <p class="stat-value">Community Driven</p>
        </div>
    </div>

</section>
<section class="info container">
    <div class="col-md-8 col-md-offset-2 text-center">
        <p style="font-size:2em">Hintchirps is a Minecraft server focused at giving players an intense, community driven gameplay by sticking
            true to vanilla principles.</p>
    </div>
</section>