<div class="container text-center">
    <h1 class="semi-bold">A Vanilla<span style="font-style: italic;font-weight:400;">ish</span>
        Minecraft Server</h1>

    <p style="font-size:1.5em;margin-bottom:1em;">Come be apart of the adventure created by this community.</p>

    <div style="margin-top:3em;">
        <button class="btn btn-lg btn-invert">SERVER INFO</button>
        <button class="btn btn-lg" ui-sref="dashboard">DASHBOARD</button>
    </div>

    <p class="semi-bold">SERVER ADDRESS</p>

    <h3 style="margin-top:-.5em;font-weight:600;">MC.HINTCHIRPS.COM</h3>
</div>