<style>
    .ngInvalid.ng-dirty {
        border-color: #FA787E;
    }
    .ngValid.ng-dirty {
        border-color: #78FA89;
    }
</style>
<div class="container-fluid" style="background-color:aliceblue;height:4em;border-bottom:whitesmoke thin ridge;">
    <div class="col-md-8 col-md-offset-2" style="margin-top:1em;">
        <div>
            <button ui-sref="home" class="btn btn-default">Home</button>
            <button ng-hide='loggedIn' ui-sref="login" class="btn btn-default">Login</button>
        </div>
    </div>
</div>
<div class="container">
    <div class="col-md-4 centered col-md-offset-4">
        <h1 class="centered">Signup</h1>

        <form ng-submit="signup.submit()">
            <p style="clear:both;margin:1em;" id="ErrorMsgs">{{signup.error}}</p>

            <div class="form-group">
                <label>Username:</label>
                <input type="text"
                       class="form-control"
                       id="username"
                       ng-model="signup.username"
                       ng-class="{good: userModel.userExists()}"/>

            </div>
            <div class="form-group">
                <label>Password:</label>
                <input type="password"
                       id="password"
                       class="form-control"
                       ng-model="signup.password"/>
            </div>
            <div class="form-group">
                <label>Confirm Password:</label>
                <input type="password"
                       id="passwordConfirm"
                       class="form-control"
                       ng-model="signup.passwordConfirm"
                       ng-class="{'ngValid': signup.password===signup.passwordConfirm && signup.password.length>5,
                          'ngInvalid': signup.password!==signup.passwordConfirm || signup.password.length<5}"/>
            </div>
            <button type="submit" class="btn btn-primary">Sign up</button>
        </form>
    </div>
</div>