<div class="container col-md-10" style="margin:1em 0em;border-bottom:rgba(192, 214, 223, 1) thin ridge">
    <div class="row">
        <img class='pull-left' ng-src="{{tweet.user.profile_image_url}}">
        <div class="col-md-6" style="">
            <span class="lead h3">{{tweet.user.name}}</span>
            <br>
            <span>@{{tweet.user.screen_name}}</span>
        </div>
        <span class="pull-right">{{tweet.user.location}}</span>

    </div>
    <p style="margin-top:1em;">{{tweet.text}}</p>
</div>